# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.DS_Store
tutorial/oldgit/COMMIT_EDITMSG
tutorial/oldgit/config
tutorial/oldgit/description
tutorial/oldgit/HEAD
tutorial/oldgit/index
tutorial/oldgit/hooks/applypatch-msg.sample
tutorial/oldgit/hooks/commit-msg.sample
tutorial/oldgit/hooks/fsmonitor-watchman.sample
tutorial/oldgit/hooks/post-update.sample
tutorial/oldgit/hooks/pre-applypatch.sample
tutorial/oldgit/hooks/pre-commit.sample
tutorial/oldgit/hooks/pre-merge-commit.sample
tutorial/oldgit/hooks/pre-push.sample
tutorial/oldgit/hooks/pre-rebase.sample
tutorial/oldgit/hooks/pre-receive.sample
tutorial/oldgit/hooks/prepare-commit-msg.sample
tutorial/oldgit/hooks/push-to-checkout.sample
tutorial/oldgit/hooks/update.sample
tutorial/oldgit/info/exclude
tutorial/oldgit/logs/HEAD
tutorial/oldgit/logs/refs/heads/main
tutorial/oldgit/objects/30/a613efe5dba088d9d5638e2789b321e83759f4
tutorial/oldgit/objects/4c/470ef06950f736c2dcfcef4d60b129b0149484
tutorial/oldgit/objects/78/d5a2493409e885bdf4b536d064b1105e56af16
tutorial/oldgit/objects/78/ecce10a7b7f21d5d0a4b84464a73afb231c5f3
tutorial/oldgit/objects/a9/a3b4a89fb8788cdecab3017028ee522c4b76ee
tutorial/oldgit/objects/af/61486bb83a74fb61ea0f60794f3d277a00ee8d
tutorial/oldgit/objects/c7/fd35981206f35cbff6c746b8774faa7dd4abaf
tutorial/oldgit/objects/ce/df0740f6be8263d1928207190f9b04d33aa2ef
tutorial/oldgit/objects/e6/9de29bb2d1d6434b8b29ae775ad8c2e48c5391
tutorial/oldgit/objects/fa/741990f5f9ad1228e876a91ef6c5ccaeb290f0
tutorial/oldgit/objects/fb/1d97b6391c227d6bf50b42488639bf696eab29
tutorial/oldgit/objects/fd/4c18b0c9b77bf20531af36210c0a7e75252bd4
tutorial/oldgit/objects/ff/e650c7727cc98b0b93830365ca1ab3021935de
tutorial/oldgit/refs/heads/main
